.icon-connect-container {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: rgba(255, 90, 31, 1);
    animation: ping 1s cubic-bezier(0, 0, .2, 1) infinite;
    border-radius: 50%;
}

.icon-connect {
    position: relative;
    width: 7px;
    height: 7px;
    background-color: rgba(255, 90, 31, 1);
    border-radius: 50%;
}

.icon-container {
    margin-right: 6px;
    margin-bottom: 8px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.menu-mobile {
    display: none;
}

.btn-more {
    display: flex;
    align-items: center;
}

.btn-more:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

button:focus{
    outline: none !important;
}

@keyframes ping {
    75% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.btn-default:active, .btn-default:focus {
    color: #212529 !important;
    background-color: white !important;
}

@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-mobile {
        display: block;
    }
}

@media only screen and (max-width: 522px) {
    .container {
        display: block;
    }
    .logo {
        margin-bottom: 20px;
    }
}
